
<launch>
  <!-- Pace notes -->
  <!-- Keeps track on which gate to pass next, used by puffin_pilot -->
  <node name="pace_notes_node" pkg="pace_notes" type="pace_notes_node" respawn="false" clear_params="true" output="screen">
    <!-- Input -->
    <remap from="odometry" to="/puffin_pilot/odometry" />

    <!-- Output -->
    <remap from="pace_note" to="/puffin_pilot/pace_note"/>
  </node>
  
  <!-- IR marker localizer -->
  <node name="ir_marker_localizer_node" pkg="ir_marker_localizer" type="ir_marker_localizer_node" respawn="false" clear_params="true" output="screen">
    <!-- Input -->
    <remap from="camera_info" to="/uav/camera/left/camera_info" />
    <remap from="ir_beacons"  to="/uav/camera/left/ir_beacons" />
    <remap from="pace_note"   to="/puffin_pilot/pace_note"/>
    <remap from="odometry"    to="/puffin_pilot/odometry"/>

    <!-- Output -->
    <remap from="pose" to="/puffin_pilot/ir_markers_pose"/>
  </node>

  <!-- Odometry -->
  <!-- Fuses IMU + IR marker localizer -->
  <node name="odometry_node" pkg="odometry" type="odometry_node" respawn="false" clear_params="true" output="screen">
    <!-- Input -->
    <remap from="imu" to="/uav/sensors/imu" />
    <remap from="ir_markers_pose" to="/puffin_pilot/ir_markers_pose" />
    <remap from="odometry_gt" to="/uav/sensors/odom"/>

    <!-- Output  -->
    <remap from="odometry" to="/puffin_pilot/odometry"/>
    <remap from="odometry_mpc" to="/puffin_pilot/odometry_mpc"/>
  </node>

  <!-- Trajectory generation -->
  <node name="trajectory_generator_node" pkg="trajectory_generator" type="trajectory_generator_node" respawn="false" clear_params="true" output="screen">
    <!-- Input -->
    <remap from="odometry" to="/puffin_pilot/odometry" />
    <remap from="pace_note" to="/puffin_pilot/pace_note"/>

    <!-- Output -->
    <remap from="trajectory" to="/puffin_pilot/trajectory" />
    <remap from="pose" to="/puffin_pilot/pose" />
  </node>

  <!-- Control Angle+Thrust -->
  <node name="mav_nonlinear_mpc" pkg="mav_nonlinear_mpc" type="nonlinear_mpc_node" respawn="false" clear_params="true" output="screen">
    <!-- Input -->
    <remap from="odometry" to="/puffin_pilot/odometry" />
    <remap from="command/trajectory" to="/puffin_pilot/trajectory" />
    <remap from="command/pose" to="/puffin_pilot/pose" />

    <!-- Output (mav_msgs/RollPitchYawrateThrust) -->
    <remap from="command/roll_pitch_yawrate_thrust" to="/puffin_pilot/roll_pitch_yawrate_thrust"/>
    
    <!-- Params -->
    <rosparam file="$(find puffin_pilot)/config/nonlinear_mpc.yaml"/>    
    <rosparam file="$(find puffin_pilot)/config/disturbance_observer.yaml"/>
    <param name="use_rc_teleop" value="false"/>
    <param name="verbose" value="false" />
    <param name="reference_frame" value="puffin_nest"/>
  </node>

  <!-- Rate thrust controller -->
  <node name="rate_thrust_controller_node" pkg="rate_thrust_controller" type="rate_thrust_controller_node" respawn="false" clear_params="true" output="screen">
    <!-- Input -->
    <remap from="odometry" to="/puffin_pilot/odometry" />
    <remap from="roll_pitch_yawrate_thrust" to="/puffin_pilot/roll_pitch_yawrate_thrust" />

    <!-- Output -->
    <remap from="rate_thrust" to="/uav/input/rateThrust" />

    <!-- Params -->
    <rosparam file="$(find puffin_pilot)/config/rate_thrust_controller.yaml"/>
  </node>

  <!-- Puffin launcher -->
  <node name="puffin_launcher_node" pkg="puffin_launcher" type="puffin_launcher_node" respawn="false" clear_params="true" output="screen">
    <!-- Input -->
    <remap from="odometry" to="/puffin_pilot/odometry" />

    <!-- Output -->
    <remap from="rate_thrust" to="/uav/input/rateThrust" />
  </node>

</launch>

<!--
<include file="$(find package_name)/directory/another.launch"/>
-->
